* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body, #root {
  height: 100%;
  background-color: #ffffff;
  font-family: Verdana, Geneva, sans-serif;
}

.container {
  width: 85%;
  margin: 20px auto;
  color: #d8d8d8;
  background-color: rgb(218, 211, 203);
  min-height: 100vh; 
}

.header {
  background-color: #ff6600;
  padding: 3px 0;
}

.header ul {
  display: flex;
  list-style: none;
  padding-left: 10px;
}

.header li {
  margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
}

.header a {
  color: black;
  text-decoration: none;
}

.header a:hover {
  text-decoration: underline;
}

.stories {
  margin-top: 10px;
  padding-left: 0;
}

.story {
  list-style-type: none;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 1.5;
}

.story h2 {
  font-size: 14px;
  color: #000;
  font-weight: normal;
  margin-bottom: 2px;
}

.story a {
  color: #828282;
  font-size: 10px;
}

.story a:hover {
  text-decoration: underline;
}

.story .index {
  color: #828282;
  margin-right: 5px;
}
